<!--@subject {{trans "Book a skin consultation"}} @-->

{{template config_path="design/email/header_template"}}

<p>First Name :{{var name}} </p>
<p>Last Name : {{var last-name}}</p>  <!--các biến bên getform controller, đây là nội dung mail-->
<p>Email : {{var email}}</p>
<p>Contact Number : {{var telephone}}</p>
<p>Skin-Concern : {{var skin_concern}}</p>
<p>Pigmentation: {{var pigmentation}}</p>
<p>Are-you-dry-or-oily : {{var or_oily}}</p>
<p>What skincare products are you currently using? : {{var currently}} </p>
<p>What would be your ideal desired outcome?: {{var outcome}}/p>
<p>Extra Comments: {{var Extra_Comments}}</p>
{{template config_path="design/email/footer_template"}}